header {
	text-align : center;
	background-image:url(../images/dark_embroidery.png);
	color:white;

}

body {
	font-family: calibri;
}

main{
		background-image:url(../images/cork-wallet.png);
}

.conteneur {
	width:100%;
	max-width: 960px;
	margin : 10px;
	padding: 15px;
}

#Portrait {
	width : 30%;
	display: inline-block;
	vertical-align:top;
}

.entete {
	width:60%;
	display:inline-block;
}

.colonne {
	margin: 10px;
	display:inline-block;
	width: 25%;
	vertical-align:top;
	box-sizing:border-box;
	
}
ul {
	border-radius: 20px;
	padding-bottom : 20px;
}


li {
	list-style-type : square;
}

footer {
	background-image:url(../images/soft_kill.png);
	color: white;
	
	
}

footer p{
text-align:center;
width:30%;
display:inline-block;
vertical-align:top;
margin-left:30px;
padding-top: 30px;
}

iframe{
display:inline-block;
vertical-align:top;
width:50%;
}