header {
	text-align : center;
	background-image:url(../images/dark_embroidery.png);
	color:white;


}

body {
	font-family: calibri;
}

main{
		background-image:url(../images/cork-wallet.png);
}


.container {
	padding: 80px;
}

#Portrait {
	width : 30%;
	display: inline-block;
	vertical-align:top;
}

.entete {
	width:60%;
	display:inline-block;
}

.colonne {
	margin: 10px;
	display:inline-block;
	width: 25%;
	vertical-align:top;
	box-sizing:border-box;
	
}

footer {
	background-image:url(../images/soft_kill.png);
	color: white;
	
	
}

footer p{
	text-align:center;
	width:30%;
	display:inline-block;
	vertical-align:top;
	margin-left:30px;
	padding-top: 30px;
}

iframe{
display:inline-block;
vertical-align:top;
width:50%;
}

/* CSS du portFolio */

#portfoliolist a {
	color:#c09853;
	text-decoration:none;
}
#portfoliolist p {
	margin:5px 0 0 0;	
}
	
.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#filters {
	margin:1%;
	padding:0;
	list-style:none;
}

#filters li {
	float:left;
}
#filters li span {
	display: block;
	padding:5px 20px;
	text-decoration:none;
	color:#666;
	cursor: pointer;
}
#filters li span.active {
	background: #e95a44;
	color:#fff;
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	background: #666;
	cursor:pointer;
}
.portfolio img {
	max-width:100%;
	position: relative;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
	left:0px;
}
.portfolio .label-bg {
	background-color: #666666;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#ffffff;
	position: relative;
	z-index:500;
	padding:5px 8px;

}


.portfolio .text-category {
	display:block;
	font-size:9px;
}
/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.container {
width: 768px;
}
}
/* #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
.container {
width: 95%;
}
#portfoliolist .portfolio {
width:48%;
margin:1%;
}
#ads {
display:none;
}
}
/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {
width: 70%;
}
#ads {
display:none;
}
}

/* #Clearing */
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; }
.row:after,
.clearfix:after {
	clear: both; }
.row,
.clearfix {
	zoom: 1; }
.clear {
clear: both;
